<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <ul class="navbar-nav">
        <li class="first">
            <a class="nav-link" href="http://127.0.0.1:8000/">home</a>
        </li>
        <li class="home">
            <a class="nav-link" href="http://127.0.0.1:8000/home">search</a>
        </li>
        <li class="category">
            <a class="nav-link" href="http://127.0.0.1:8000/category">bestseller</a>
        </li>
    </ul>
</nav>
{% block content %}

{% endblock %}
</body>
</html>